body {
  margin: 0;
  background-color: #0a30a1e8; /* Kahoot green background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.layout {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow */
}

img {
  width: 53%;
  height: 50%;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 27px 223px 20px;
}

.buttons4 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #FFD700; /* Kahoot yellow button background */
  color: #000; /* Black text */
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #000; /* Black border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #FFA500; /* Orange on hover */
}

div p{
  color: whitesmoke;
  text-shadow: #000;
  font-size: 20px;
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  
  justify-content: space-around;

}